@{
    ViewData["Title"] = "Account";
    string str = Model.User.Photo ?? "default-user.png";
}


@model AccountModel


<div class="container">
    <header class="header"></header>
    <main>
        <div class="title__profile">
            <img src="../img/@str" alt="MyPhoto" class="profile__photo " id="addPhotoArea"/>

            <button class="profile__add " id="addPhotoBtn" hidden>Добавить фото</button>
            <span class="title__name">@Model.User.Name</span>
            <span class="title__name">&ensp;</span>
            <span class="title__name">@Model.User.Surname</span>

        </div>
        <div class="row"></div>

        <div class="profile__navigation">
            <div class="nav__left">
                <a href="#"
                   class="nav__link active"
                   id="first__tag"
                  >Мои блюда</a>

                    <a href="#" class="nav__link" 
                          id="second__tag">Избранное</a>
                </div>
            <div class="nav__right">
                
                <button onclick="location.href='/Account/ChangeInfo';" class="nav__button">
                    Редактирование
                </button>

                <button asp-controller="Account" asp-action="Logout"  class="nav__button">
                    Выход
                </button>
            </div>
        </div>
        <div class="row"></div>
        <div class="content">
            <div class="left__content" id="left__content">
                <div class="content__mydishes" id="cnt__mydishes">
<<<<<<< HEAD

                    @*<a href='@Url.Action("AddDish","Account", Model.User, null)'  class="link__dish__add">*@
=======
                   
>>>>>>> Stas
                    <a href="/Account/AddDish" class="link__dish__add">

                        <div class="add-content__mydish">
                            <img src="../img/plus.png" alt="" class="photo__add" />

                        </div>
                    </a>
<<<<<<< HEAD

=======
                   
>>>>>>> Stas
                    @{

                        foreach (var publication in Model.Publications)
                        {
<<<<<<< HEAD
                            <a href='@Url.Action("Dish","Account", publication, null)' class="link__dish">

                                <div class="content__mydish">

                                    <img src="../img/photo-food-1.png" alt="" class="photo__dish" />
                                    <div class="wrap__photo">
                                        <h1 class="title-name__photo">@publication.DishName</h1>
                                    </div>
                                </div>


                            </a>
=======

                            var photo = Model.Photos.FirstOrDefault(p => p.PublicationId == publication.Id);
                            <a href='@Url.Action("Dish","Account", publication, null)'  class="link__dish">
                                            
                                <div class="content__mydish">

                                   <img src="../dish_img/@photo.Name" alt="" class="photo__dish" />
                                   <div class="wrap__photo">
                                       <h1 class="title-name__photo">@publication.DishName</h1>
                                   </div>
                                </div>
                        
                    
                           </a>
>>>>>>> Stas
                        }
                    }
                </div>


                <div class="content__myfavorite dispnone"  id="cnt__myfavorite">
                   
                    <a asp-area="" asp-controller="Account" asp-action="Dish" class="link__dish">
                        <div class="content__mydish">

                            <img src="../img/photo-food-1.png" alt="" class="photo__dish" />
                            <div class="wrap__photo">
                                <h1 class="title-name__photo">Макароны</h1>
                            </div>
                        </div>
                    </a>

                  
                </div>


            </div>
            <div class="right__content">
                <div class="subscribers li__profile">
                    Подписчики:<span class="num__content">4</span>
                </div>
                <div class="subscriptions li__profile">
                    Подписки:<span class="num__content">23</span>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </main>
</div>
<script src="../js/script.js"></script>


<!--
<div class="friend__list">
  <div class="friend-profile__mini">
    <div class="title__friend-profile__mini">
      <img src="./img/test2.jpg" alt="" class="mini-photo_friend" />
      <span class="friend__name">Никитченко Богдан</span>
    </div>
    <button class="button-friend__mini">Просмотреть</button>
  </div>
  <div class="friend-profile__mini">
    <div class="title__friend-profile__mini">
      <img src="./img/test1.jpg" alt="" class="mini-photo_friend" />
      <span class="friend__name">Шишло Ольга</span>
    </div>
    <button class="button-friend__mini">Просмотреть</button>
  </div>
</div>
-->
