@model PublicationModel
@*@
    @{
        //ViewData["Title"] = "Dish";
        //Layout = "~/Views/Shared/_Layout.cshtml";
        Layout = null;

    }

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Cook_Share</title>
        <link rel="stylesheet" href="~/css/style.css" />
        <environment include="Development">
            <link rel="stylesheet" href="~/css/style.css" />

        </environment>
        <environment exclude="Development">

            <link rel="stylesheet" href="~/css/style.css" />
        </environment>
    </head>

    <body>
        <link rel="stylesheet" href="~/css/style.css" />
        <div class="top">
            <div class="top__wrap">
                <div class="top__left">
                    <span class="logo__top">Cook&Share</span>
                </div>
                <div class="top__right">



                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="top__button"><span class="label-btn__top">Login</span></a>
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="top__button"><span class="label-btn__top">Registration</span></a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Account" class="top__button"><span class="label-btn__top">Account</span> </a>
                        <a asp-area="" asp-controller="Account" asp-action="Logout" class="top__button"><span class="label-btn__top">Logout </span></a>
                    }

                </div>
            </div>
        </div>


        <partial name="_CookieConsentPartial" />



        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>


        <script src="~/js/owl.carousel.min.js"></script>




        <link rel="stylesheet" href="~/css/style.css" />
        <div class="container">
            <div class="dish-item">
                <div class="dish-left">
                    <div class="owl-carousel">
                        @{
                            foreach (var item in Model.Photos)
                            {
                                <div class="photo__slider"> <img src="~/dish_img/@item.Name" alt="" class="dish-photo"></div>
                            }
                        }
                    </div>
                </div>

                <div class="dish-right">
                    <div class="title__dish__creator">
                        <div class="name__dish">@Model.Publication.DishName</div>
                        <div class="subtitle__dish">
                            <div class="name__creator">@Model.User.Name</div>
                            <div class="name__creator">@Model.User.Surname</div>
                            <div class="cuisine__dish">
                                @Model.Publication.Cuisine
                            </div>
                        </div>
                        <div class="category__dish"><span class="dish__span">Категория: </span>@Model.Category.Name</div>
                        <div class="description__dish">
                            <span class="dish__span">Описание: </span>
                            @Model.Publication.Discription
                        </div>
                        <div class="recipe__dish">
                            <span class="dish__span">Рецепт: </span>
                            <textarea>@Model.Publication.Recipe</textarea>
                        </div>
                        <div class="date__creator"> <span class="dish__span">Дата добавления: </span>@Model.Publication.Time</div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/carousel.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <link rel="stylesheet"
              href="~/css/jquery.fancybox.min.css" />
        <script src="~/js/jquery.fancybox.min.js"></script>




    </body>
    </html>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
</head>
<body>
    <br /><br />
          <div class="container">
              <div class="dish-item">
                  <div class="dish-left">
                      <div class="owl-carousel">
                          @{
                              foreach (var item in Model.Photos)
                              {
                                  <div class="photo__slider">
                                        <img src="~/dish_img/@item.Name" alt="" class="dish-photo">
                                  </div>
                              }
                          }
                      </div>
                  </div>

                  <div class="dish-right">
                      <div class="title__dish__creator">
                          <div class="name__dish">@Model.Publication.DishName</div>
                          <div class="subtitle__dish">
                              <div class="name__creator">@Model.User.Name</div>
                              <div class="name__creator">@Model.User.Surname</div>
                              <div class="cuisine__dish">
                                  @Model.Publication.Cuisine
                              </div>
                          </div>
                          <div class="category__dish"><span class="dish__span">Категория: </span>@Model.Category.Name</div>
                          <div class="description__dish">
                              <span class="dish__span">Описание: </span>
                              @Model.Publication.Discription
                          </div>
                          <div class="recipe__dish">
                              <span class="dish__span">Рецепт: </span>
                              <textarea>@Model.Publication.Recipe</textarea>
                          </div>
                          <div class="date__creator"> <span class="dish__span">Дата добавления: </span>@Model.Publication.Time</div>
                      </div>
                      <div class="row"></div>
                  </div>
              </div>
          </div>
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet"
          href="~/css/jquery.fancybox.min.css" />
    <script src="~/js/jquery.fancybox.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/carousel.js"></script>
</body>

</html>