@model PublicationModel

@{
    //ViewData["Title"] = "Dish";
    //Layout = "~/Views/Shared/_Layout.cshtml";


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/style.css" />
    <title>Document</title>
</head>
<body>
    <br /><br />
    <div class="container">
        <div class="dish-item">
            <div class="dish-left">
                <div class="owl-carousel">
                    @{
                        if (Model.Photos.ToList().Count == 0)
                        {
                            <div class="photo__slider">
                                <img src="~/dish_img/default-dish.jpg" alt="" class="dish-photo">
                            </div>
                        }
                        else
                        {
                            foreach (var item in Model.Photos)
                            {
                                <div class="photo__slider">
                                    <img src="~/dish_img/@item.Name" alt="" class="dish-photo">
                                </div>
                            }
                        }
                    }
                </div>
                <button id="DeleteModal" class="delete__photo">Удалить фото</button>
            </div>

          

            <div class="dish-right">
                <form method="post" asp-action="Dish" asp-controller="Account" enctype="multipart/form-data">
                    <input type="number" name="id" hidden asp-for="Publication.Id"/>
                    <div class="title__dish__creator">
                        <div class="name__dish">@Model.Publication.DishName</div>
                        <div class="subtitle__dish">
                            <div class="name__creator">@Model.User.Name @Model.User.Surname</div>
                            <div class="cuisine__dish">
                                <div class="valid">
                                    <input type="text" name="cuisine" class="change__input__dish" id="cuisineInput" disabled asp-for="Publication.Cuisine">

                                    <span asp-validation-for="Publication.Cuisine"></span>
                                </div>
                            </div>
                        </div>
                        <div class="category__dish"><span class="dish__span">Категория: </span>@Model.Category.Name</div>
                        <div class="description__dish">
                            <span class="dish__span">Описание: </span>
                            <div class="valid">
                                <input type="text" name="discription" class="change__input__dish" id="discrInput" disabled asp-for="Publication.Discription">
                                <span asp-validation-for="Publication.Discription"></span>

                            </div>
                        </div>
                            <div class="recipe__dish">
                                <span class="dish__span">Рецепт: </span>
                                <textarea class="txtArea__recipe input__item" id="recInput" name="recipe" disabled asp-for="Publication.Recipe">@*@Model.Publication.Recipe*@</textarea>
                            </div>
                            <div class="cal__dish">
                                <span class="dish__span">Количество калорий: </span>
                                <div class="valid">
                                    <input name="calVal" class="change__input__dish" id="calVal" disabled asp-for="Publication.CalorificVal">
                                    <span asp-validation-for="Publication.CalorificVal"></span>
                                </div>
                            </div>
                           
                            <div class="date__creator"> <span class="dish__span">Дата добавления: </span>@Model.Publication.Time</div>

                        </div>
                   
                    <input type="button" id="ChangeBtn" value="ChangeInfo" class="nav__button" />
                    <input type="submit" id="SaveBtn" hidden value="SaveChange" class="nav__button" />
                </form>

            </div>

        </div>
    </div>
                
                  
                
                @*_____________________________MODAL_____________________________*@
                <div class="modal fade" id="login">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Удаление публикации</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    ×
                                </button>
                                
                            </div>
                            <div class="modal-body">
                                <h5>Удалить публикацию @Model.Publication.DishName?</h5>
                                <form method="post" asp-controller="Account" asp-action="DeleteDish">
                                    <div class="form-group">
                                        <input hidden class="form-control" type="number" name="Id" id="inputUserName" asp-for="Publication.Id" />
                                    </div>
                                    <button type="submit" class="btn btn-primary button button4">Удалить</button>
                                    <button type="button" id="HidebtnModal" class="btn btn-primary"> Отмена </button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>


    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet"
          href="~/css/jquery.fancybox.min.css" />
    <script src="~/js/jquery.fancybox.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/carousel.js"></script>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                var cuisine = document.getElementById("cuisineInput");
                var discription = document.getElementById("discrInput");
                var cal = document.getElementById("calVal");
                $("#ChangeBtn").click(function () {
                    $('#discrInput').prop('disabled', false);
                    $('#recInput').prop('disabled', false);
                    $('#cuisineInput').prop('disabled', false);
                    $('#calVal').prop('disabled', false);
                    $('#SaveBtn').prop('hidden', false);
                  
                    cuisine.style.cssText = "color:blue; border-bottom:1px solid black;"
                    discription.style.cssText = "color:blue; border-bottom:1px solid black;"
                    cal.style.cssText = "color:blue; border-bottom:1px solid black;"
                });
            });
            $(document).ready(function () {
            $("#DeleteModal").click(function () {
                $("#login").modal('show');
            });



                $("#HidebtnModal").click(function () {
                $("#login").modal('hide');
            });
        });
        </script>
    }
</body>

</html>