@model List<Cook_Share.Models.Publication>
@{
    ViewData["Title"] = "ViewAllSubscriptionDish";
}

<h2 class="title__all">Подписки</h2>

<br /><br />
<div class="container container-all">
    @{ foreach (var publication in Model)
        {



            <div class="dish-item-all">
                <div class="dish-left">
                    <div class="owl-carousel">
                        @{
                            if (publication.Photos.Count != 0)
                            {
                                foreach (var photo in publication.Photos)
                                {

                                    <div class="photo__slider">
                                        <img src="~/dish_img/@photo.Name" alt="" class="dish-photo">
                                    </div>
                                }
                            }
                            else
                            {
                                string dish = "default-dish.jpg";
                                <div class="photo__slider">
                                    <img src="~/dish_img/@dish" alt="" class="dish-photo">
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="dish-right">
                    <div class="title__dish__creator">
                        <a href='@Url.Action("DishPage","Account", publication)' class="link__dish">
                            <div class="name__dish-all">@publication.DishName</div>
                        </a>
                        <div class="subtitle__dish">
                            <a href='@Url.Action("UserPage","Account", new{id = @publication.UserId})' class="link__dish">
                                <div class="name__creator name__creator__all">@publication.User.Name @publication.User.Surname</div>
                            </a>
                            <div class="cuisine__dish cuisine__dish__all">
                                @publication.Cuisine
                            </div>
                        </div>
                        <div class="category__dish dish__span__all"><span class="dish__span dish__span__all">Категория: </span>@publication.Category.Name</div>
                        <div class="description__dish dish__span__all">
                            <span class="dish__span dish__span__all">Описание: </span>
                            @publication.Discription
                        </div>
                        <div class="recipe__dish dish__span__all">
                            <span class="dish__span dish__span__all">Рецепт: </span>
                            <textarea class="txtArea__recipe input__item dish__span__all" disabled>@publication.Recipe</textarea>
                        </div>
                        <div class="date__creator dish__span__all"> <span class="dish__span dish__span__all">Дата добавления: </span>@publication.Time</div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>

        }
    }
</div>


<footer class="wrap__bottom">
    <div class="bottom">
        <div class="row"></div>
        <div class="footer__top">
            <div class="footer__top-item">
                <span class="title__footer__top"><a asp-area="" asp-controller="Account" asp-action="ViewAllDish" class="footer__link">Главная</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a asp-area="" asp-controller="Account" asp-action="ViewAllSubscriptionDish" class="footer__link">Подписки</a></li>
                    <li class="footer__list-item"><a asp-area="" asp-controller="Account" asp-action="ViewAllSubscriptionDish" class="footer__link">Рецепты</a></li>

                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top"><a asp-area="" asp-controller="Account" asp-action="Account" class="footer__link">Аккаунт</a></span>
                <ul class="footer__list">
                    <li class="footer__list-item"><a asp-area="" asp-controller="Account" asp-action="Login" class="footer__link">Авторизоваться</a></li>
                    <li class="footer__list-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="footer__link">Зарегистрироваться</a></li>


                </ul>
            </div>

            <div class="footer__top-item">
                <span class="title__footer__top">Навигация</span>
                <ul class="footer__list">
                    <li class="footer__list-item">Адрес: Ukraine Kharkiv </li>
                    <br>
                    <li class="footer__list-item">Номер:<a href="#" class="link__list-item">+380958695956</a></li>
                    <br>
                    <li class="footer__list-item">E-mail.:<a href="#" class="link__list-item">info@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row"></div>
        <div class="footer__bottom">
            <div class="footer__container">
                <div class="footer__create">MyWork s.r.o 2019.</div>
            </div>
        </div>
    </div>
</footer>
<script src="~/js/jquery.min.js"></script>
<link rel="stylesheet"
      href="~/css/jquery.fancybox.min.css" />
<script src="~/js/jquery.fancybox.min.js"></script>

<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/carousel.js"></script>
