

    <h2>Personal Area</h2>
    <p>Email: @ViewBag.Info.Email</p>
    <p>Name: @ViewBag.Info.Name</p>
    <p>Surname: @ViewBag.Info.Surname</p>
    <p>Age: @ViewBag.Info.Age</p>
    <p>Address: @ViewBag.Info.Address</p>
    <p>About: @ViewBag.Info.About</p>

    
        <a asp-area="" asp-controller="Account" asp-action="ChangeInfo">Change</a>
  



@*<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn" />
        </div>
    </div>
</form>*@